<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.md">About</a></li>
            <li><a href="/projects.md">projects</a></li>
        </ul>
    </nav>
    <div class="container">

        {{ content }}

    </div><!-- /.container -->
    <footer>
        <ul>
            <li><a href="https://github.com/jagilber">github.com/jagilber</a></li>
        </ul>
    </footer>
</body>

</html>